{% extends 'enroll/base.html' %}

{% block content %}
<style>
.errorlist > li {
    color : red ;
}

</style>
<div class="row">
    <div class="col-sm-4">

        <h4 class="alert alert-info text-center">Add New Student  </h4>
        
            
            
        <form action="" , method="POST" >
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit"  class="btn btn-success" value="value"> Add </button>
        </form>

    </div>
    

    
    <div class="col-sm-7 offset-1">
        <h4 class="text-center alert alert-info "> Show Student Informations </h4>
        
        {% if datas  %}
        
        <table class="table table-hover">
            <tr>
                
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Action </th>
                
            </tr>
            <thead>
                <tbody>
                    
                    <tr>
                        
                        {% for st  in datas  %}
                        <th scope="row">{{st.id}}
                        </th>
                        <td>{{st.name}}</td>
                       <td>{{st.email}}</td>
                        <td>{{st.password}}</td>
                         <td>
                            <a href="/update/{{st.id}}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="/delete/{{st.id}}/" class="btn btn-danger btn-sm">Delete</a>
                         </td>
        
                    
                            
                         
                         
                         
                        </tr>
                        {% endfor %}
</tbody>

            </thead>


        </table>
        {% else %}
        NO Data 
        {% endif %}
            
    </div>
</div>
{% endblock content %}
